FarmerWolfGoatCabbage/.vs/FarmerWolfGoatCabbage/obj/
/obj
Factorial/Factorial/obj/
FarmerWolfGoatCabbage/.vs/
Factorial/.vs/
SimpleCalc/SimpleCalc/obj/
OrgComps/CSharp_Net_Module_1_4_Lab/obj/
SimpleCalc/.vs/
OrgComps/.vs/
